<!doctype html>
<html lang="en">

  <head>

    <title>Glint test</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />

    <!-- 3.3.6 compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  </head>

  <body>

    <div id="glintTestApp" class="full-height">
    </div>

    <script type="text/javascript" src="/bundle.js"></script>

  </body>

</html>
